name: ci

on:
  push:
    branches: [ "main", "mq/queue" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pre-commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: 0.9.x
          python-version: "3.14"
      - run: uv sync
      - name: pre-commit linters
        run: |
          set -ex
          echo '.venv/' > .pre-commit-venv
          # GHA does not fetch branch names at checkout
          git fetch
          uv run pre-commit run \
            --verbose \
            --show-diff-on-failure \
            --all


  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: extractions/setup-just@v3
    - uses: astral-sh/setup-uv@v7
      with:
        version: 0.8.x
        python-version: 3.14
    - run: uv sync

    - name: unit tests
      run: just test unit

    - name: integration tests
      run: just test integration

    - name: behavior tests
      run: just test behavior

    - uses: actions/upload-artifact@v5
      with:
        retention-days: 1
        name: coverage-first
        path: coverage.*
        include-hidden-files: true
        if-no-files-found: error

  tests-e2e:
    needs: tests
    runs-on: ubuntu-latest
    # e2e tests reconfigure github app webhook to use local tunnel,
    # so no more than one instance of those should be running at once
    concurrency: app-webhook-reconfiguration
    # e2e will use secrets - run only on pushes or "trusted" PRs in same repo
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository

    steps:
    - uses: actions/checkout@v6

    - uses: extractions/setup-just@v3
    - uses: astral-sh/setup-uv@v7
      with:
        version: 0.8.x
        python-version: 3.14
    - run: uv sync

    - name: e2e tests
      run: |
        set -ex
        T=$(just whtoken)
        export QRAM_WEBHOOK_URL="https://webhook.site/$T/webhook"
        just whcli $T 7890 &
        just whwait $T 7890
        just test e2e
      env:
        QRAM_PROVIDER: github
        QRAM_CORS_ORIGIN: http://webhook.site
        QRAM_GITHUB_APP_ID: ${{ secrets.QRAM_GITHUB_APP_ID }}
        QRAM_GITHUB_INSTALLATION_ID: ${{ secrets.QRAM_GITHUB_INSTALLATION_ID }}
        QRAM_GITHUB_HMAC: ${{ secrets.QRAM_GITHUB_HMAC }}
        QRAM_GITHUB_PEM: ${{ secrets.QRAM_GITHUB_PEM }}

    - uses: actions/upload-artifact@v5
      with:
        retention-days: 1
        name: coverage-second
        path: coverage.*
        include-hidden-files: true
        if-no-files-found: error


  # upload coverage only if everything succeeds, to avoid weird temporary results when part of
  # tests fail between PR updates
  codecov:
    needs:
      - tests
      - tests-e2e
    # without `always()` will skip if one part is skipped; see:
    # - https://github.com/actions/runner/issues/491
    # - https://stackoverflow.com/questions/69354003
    if: |
      always() &&
      needs.tests.result == 'success' && (
        needs.tests-e2e.result == 'success'
        || needs.tests-e2e.result == 'skipped'
      )
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Download 1st part of coverage
      uses: actions/download-artifact@v5
      with:
        name: coverage-first

    - name: Download 2nd part of coverage
      uses: actions/download-artifact@v5
      if: needs.tests-e2e.result == 'success'
      with:
        name: coverage-second

    - name: Upload unit
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.unit.xml
        flags: unit
        fail_ci_if_error: true
    - name: Upload integration
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.integration.xml
        flags: integration
        fail_ci_if_error: true
    - name: Upload behavior
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.behavior.xml
        flags: behavior
        fail_ci_if_error: true
    - name: Upload e2e
      uses: codecov/codecov-action@v5
      if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage.e2e.xml
        flags: e2e
        fail_ci_if_error: true
